<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'customers')}">

  <body th:object="${customer}">
  
  
    <h2>Customer Information</h2>
    <h3 th:object="${customer}"  th:text="*{firstName + ' ' + lastName}"></h3>
    <h2>Mobile phone number</h2>
    <h3 th:object="${customer}"  th:text="*{mobilePhone}"></h3>
    <h2>Address</h2>
    <h3 th:object="${customer}"  th:text="*{address}"></h3>
    <h2>PassportSerialNumber</h2>
    <h3 th:object="${customer}"  th:text="*{passportSerial}"></h3>
    <h2>test stub[]</h2>
    <h3 th:object="${customer}"  th:text="*{type}"></h3>
    <h2>Assigned support</h2>
    <h3 th:object="${customer}"  th:text="*{worker.firstName + ' ' + worker.lastName}"></h3>
  
  	<h2>Bank Accounts</h2>
  	
			

    <table id="accounts" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Type</th>
            <th style="width: 150px;">Ballance</th>
            <th style="width: 150px;">customer debug info</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="account : ${customer.accounts}">
				<td>
				      <a  th:text="${account.currencyType}"/></a>
				  </td>	
				  <td>
				      <a  th:text="${account.ballance}"/></a>
				  </td>
				  <td>
				      <a  th:text="${account.customer}"/></a>
				  </td>
				  <td>
				  <a th:href="@{/customers/{cust_id}/accounts/{acc_id}/edit(cust_id=${customer.id}, acc_id=${account.id} )}" class="btn btn-default">Edit</a>
    			</td>
          </tr>
        </tbody>
    </table>
    
    <h2>Credit history</h2>
    
    <h2>Deposit history</h2>
    
    <a th:href="@{{id}/accounts/new(id=${customer.id})}" class="btn btn-default">Start new account!!!</a>
    <a class="btn btn-default" th:href="@{/customers/{id}/accounts/new}">Start new account</a>
    <a class="btn btn-default" th:href="@{/customers/{id}/new}">Account new credit</a>
    <a class="btn btn-default" th:href="@{/customers/{id}/new}">Account new deposit</a>
    
    
    
    
  
 
  
  </body>

</html>
